run = "bundle exec ruby main.rb"
hidden = [".bundle"]
entrypoint = "main.rb"
modules = ["ruby-3.2"]

[nix]
channel = "stable-24_05"
packages = ["gh"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[agent]
expertMode = true
